body {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 16px;
    /*color: #555;*/
}

/*.navbar-nav>li>a:hover {
	color: rgb(102, 102, 102);
}*/
.health {
	color: rgb(51, 51, 51);
	font-size: 12px;
	padding-left: 20px;
}

/*.clearMap {
	color: rgb(119, 119, 119);
}*/

.navbar {
	margin-bottom: 0px;
	/*background-image: linear-gradient(rgb(51, 78, 130) 0px, rgb(47, 72, 120) 100%);*/
	background: rgb(253, 255, 253);
}

.dropdown-menu {
	background: rgb(253, 255, 253);
}

.scrollable-menu {
    height: auto;
    max-height: 500px;
    overflow-x: hidden;
}

.green {
	background: #3CA855;
}
.orange {
	background: #ff7800;
}
.red {
	background: #F02D3A;
}

.green, .orange, .red {
	display: inline;
}

#credits {
	position: fixed;
	bottom: 0px;
}

/*.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}*/