<html lang="en-US" ng-app="App">
<head>
	<title></title>
	<style type="text/css">
	#map { height: 580px; }
	</style>
	<!-- Leaflet -->
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />

	<!-- Bootstrap -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	
</head>
<body>
	<div ng-controller="MainController">
		


		<div class="col-xs-2" ng-repeat="(key, value) in obj" >{{key}}: {{value.length}}<button ng-click="add(obj[key])">Show</button><button ng-click="removeLayer(obj[key])">Remove</button></div> 




		<div class="col-xs-12" id="map"></div>
		
	</div>
	

	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="js/app.js"></script>
	<script src="js/lib/underscore-min.js"></script>


	<script>
	var map = L.map('map').setView([45.558774582792395 , -122.62870432685249], 15);
	L.tileLayer('http://{s}.tiles.mapbox.com/v3/jfingert.j1fa4kd8/{z}/{x}/{y}.png', {
		attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
		maxZoom: 18
	}).addTo(map);

	
	</script>
</body>
</html>